*.log
*.pyc
*.pyo
.DS_Store
.coverage
.env
.idea/
.venv/
__pycache__/

germ/bot/static/*.html
germ/bot/static/tests/report.xml
germ/bot/static/tests/cov/
data/germ/multi_head_exps/
venv/
germ_venv/

google_application_credentials.json
