aiohttp
aiofiles
apscheduler
asyncpg
beautifulsoup4
bcrypt
datasets
dnspython
fastapi
gunicorn
httpx
huggingface_hub
inflect
itsdangerous
jinja2
jinja2-cli
lxml
mistune
neo4j
nltk
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy
opentelemetry-sdk
prometheus_client
psycopg2-binary
pydantic
pytest
pytest-asyncio
pytest-cov
pytest-xdist
python-dotenv
python-multipart
sqlalchemy[asyncio]
starlette
torch
transformers
uvicorn[standard]
