aiohttp
apscheduler
asyncpg
beautifulsoup4
dataset
dnspython
fastapi
flair
googletrans
gunicorn
httpx
inflect
lxml
mistune
neo4j
nltk
numpy
openai
opentelemetry-distro
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy
prometheus_client
psycopg2-binary
pydantic
pytest
pytest-cov
pytest-xdist
python-dotenv
scikit-learn
sentencepiece
sqlalchemy[asyncio] == 2.0.37
starlette
tensorflow
transformers
uvicorn[standard]
