aiohttp
aiofiles
apscheduler
asyncpg
beautifulsoup4
datasets
dnspython
fastapi
google-cloud-storage
gunicorn
httpx
huggingface_hub
inflect
itsdangerous
lxml
mistune
neo4j
nltk
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy
opentelemetry-sdk
prometheus_client
psutil
psycopg2-binary
pydantic
pytest
pytest-asyncio
pytest-cov
pytest-xdist
python-dotenv
python-multipart
sqlalchemy[asyncio]
starlette
torch
transformers
uvicorn[standard]
