<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/all.min.css?v={{ version }}" />

    <link rel="stylesheet" href="/static/css/ui.css?v={{ version }}">
    <script src="/static/js/ui.js?v={{ version }}"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><i class="fa-solid fa-virus" style="padding-right:4px"></i>GermBot</a>
        </div>
        <div class="nav-links"></div>
    </nav>
    <div id="error-popup" class="hidden">
        <button id="close-error-popup"><i class="fa fa-x"></i></button>
        <span id="error-popup-message-text"></span>
    </div>
    <div id="info-popup" class="hidden">
        <button id="close-info-popup"><i class="fa fa-x"></i></button>
        <span id="info-popup-message-text"></span>
    </div>
    <div class="login-wrapper">
        <form class="login-form" action="/login" method="post">
            <h3 style="margin-top:0;text-align:center">Please log in</h3>
            <label>
                <span style="margin-bottom:5px;">Username</span>
                <input name="username" />
            </label>
            <label>
                <span style="margin-bottom:5px;">Password</span>
                <input name="password" type="password" />
            </label>
            <button type="submit">Login</button>
            <hr style="width: 100%">
            <a href="/register">Create new user</a>
        </form>
    </div>
    <script>
    initInfoPopup();

    const queryParams = getQueryParams()
    if ("error" in queryParams) {
        showErrorPopup(queryParams["error"])
    } else if ("info" in queryParams) {
        showInfoPopup(queryParams["info"])
    }
    </script>
</body>
</html>