<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GermBot</title>
    <link rel="stylesheet" href="/bot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <style></style>
</head>
<body>
    <nav>
        <div class="logo"><a href="#"><i class="fa-solid fa-virus" style="padding-right: 4px"></i>GermBot</a></div>
        <div class="nav-links">
            <a href="/"><i class="fa-solid fa-comment" style="padding-right: 4px"></i>Chat</a>
            <a href="/postgres.html"><i class="fa-solid fa-code" style="padding-right: 4px"></i><u>Postgres</u></a>
        </div>
    </nav>
    <div id="chatbox"></div>
    <div id="input-container">
        <div id="popup-menu" class="popup-menu">
            <ul>
                <li><i class="fa fa-thumbs-down"></i> Bad model choice</li>
            </ul>
        </div>
        <form action="javascript:sendMessage().then(null)">
            <label for="input"></label>
            <textarea id="input" placeholder="Type some SQL..."></textarea>
            <div class="button-container">
                <button type="button" id="popup-button"><i class="fas fa-chevron-up"></i></button>
                <button type="submit" id="send-button">Send</button>
            </div>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>
    // Initialize highlight.js
    hljs.highlightAll();

    // Popup menu
    const popupButton = document.getElementById('popup-button');
    const popupMenu = document.getElementById('popup-menu');
    popupButton.addEventListener('mouseenter', () => {
        popupMenu.style.display = 'block';
    });
    popupButton.addEventListener('mouseleave', () => {
        popupMenu.style.display = 'block';
    });
    popupMenu.addEventListener('mouseenter', () => {
        popupMenu.style.display = 'block';
    });
    popupMenu.addEventListener('mouseleave', () => {
        popupMenu.style.display = 'none';
    });

    // Text input area
    const textarea = document.getElementById('input');
    textarea.addEventListener('input', function() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
        if (this.style.height < this.style.maxHeight) {
            this.style.overflow = 'hidden';
        } else {
            this.style.overflow = 'auto';
        }
    });
    textarea.addEventListener('keydown', function(event) {
        if (event.key === 'Enter' && (!event.shiftKey)) {
            event.preventDefault();
            sendMessage();

            this.style.height = 'auto';
            this.style.overflow = 'auto';
        }
    });
    function scrollToBottom() {
        const chatbox = document.getElementById('chatbox');
        chatbox.scrollTop = chatbox.scrollHeight;
    }

    let messageList = [];

    async function sendMessage() {
        const message = document.getElementById('input').value;
        document.getElementById('input').value = '';
        document.getElementById('chatbox').innerHTML += `<div class="user-message-box"><i class="fa fa-user"></i><b>user:</b>${marked.parse(message)}</div>`;
        messageList.push({ role: "user", content: message })
        hljs.highlightAll();
        scrollToBottom()

        // Show loading indicator
        const loadingIndicator = document.createElement('div');
        loadingIndicator.className = 'loading-indicator';
        loadingIndicator.innerHTML = '<div class="loading-spinner"></div>';
        document.getElementById('chatbox').appendChild(loadingIndicator);
        scrollToBottom();

        /*
        const response = await fetch('/chat', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({messages: messageList})
        });
        const responseData = await response.json();
         */

        // Stop showing loading indicator
        loadingIndicator.remove()

        const responseModel = responseData['model'];
        const responseChoice = responseData['choices'][0];
        const responseReason = responseChoice['finish_reason']
        const responseRole = responseChoice['message']['role']
        const responseContent = responseChoice['message']['content']
        messageList.push({ role: responseRole, content: responseContent })
        document.getElementById('chatbox').innerHTML += `<div class="assistant-message-box"><i class="fa fa-virus"></i><b>${responseRole}(${responseModel}):</b>${marked.parse(responseContent)}</br><i>${responseReason}</i></div>`;
        hljs.highlightAll();
        scrollToBottom()
    }
    </script>
</body>
</html>
