faiss-cpu
fastapi
gunicorn
httpx
numpy
openai
opentelemetry-distro
opentelemetry-exporter-jaeger
opentelemetry-exporter-otlp
pandas
psycopg2-binary
pydantic
pytest
python-dotenv
scikit-learn
sqlalchemy
tiktoken
uvicorn

#   File "/usr/local/lib/python3.12/site-packages/opentelemetry/exporter/jaeger/proto/grpc/gen/gogoproto/gogo_pb2.py", line 30, in <module>
#     goproto_enum_prefix = _descriptor.FieldDescriptor(
#                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
#   File "/usr/local/lib/python3.12/site-packages/google/protobuf/descriptor.py", line 553, in __new__
#     _message.Message._CheckCalledFromGeneratedFile()
# TypeError: Descriptors cannot be created directly.
# If this call came from a _pb2.py file, your generated code is out of date and must be regenerated with protoc >= 3.19.0.
# If you cannot immediately regenerate your protos, some other possible workarounds are:
#  1. Downgrade the protobuf package to 3.20.x or lower.
#  2. Set PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python (but this will use pure-Python parsing and will be much slower).
protobuf==3.20.3 #
