faiss-cpu
fastapi
gunicorn
httpx
numpy
openai
opentelemetry-distro
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
pandas
psycopg2-binary
pydantic
pytest
python-dotenv
scikit-learn
sqlalchemy
tiktoken
uvicorn